<div class='btn-main-group nav-pills'>
    <li id="btn-main-group-general" class="ember-view">
        <a href="/" id="btn-main-group-general-a" class="ember-view">Conversations générales</a>
    </li>
    <li id="btn-main-group-locals" class="ember-view">
        <a href="/c/groupes-locaux" id="btn-main-group-locals-a" class="ember-view">Groupes locaux</a>
    </li>
    <li id="btn-main-group-thematic" class="ember-view">
        <a href="/c/groupes-thematiques" id="btn-main-group-thematic-a" class="ember-view">Groupes thématiques</a>
    </li>
    <li id="btn-main-group-faq" class="ember-view">
        <a href="/faq" id="btn-main-group-faq-a" class="ember-view">FAQ</a>
    </li>
</div>
