
li[title="Aller à la page des groupes"]{
    display: none;
}

/* This changes the banner for groups */
body[class*='category-groupes-locaux'] {
    header  {
        background-image: linear-gradient(to right, $header_background, #F7941D);
    }
    li[title="Aller à la page des groupes"]{
        display:block;
    }
}
body[class*='category-groupes-thematiques'] {
    header  {
        background-image: linear-gradient(to right, $header_background, #E45735);
    }
    li[title="Aller à la page des groupes"]{
        display:block;
    }
}


/* This edits main buttons */
 .btn-main-group {
    position: relative;
    top: -2em;
    display: flex;
    justify-content: center;
    padding: 1.5em ;
    button {
        margin: .25em;
    }
 }

.anon .btn-main-group {
    display: none;
}
